<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.entrega1">

    <uses-feature
        android:name="android.hardware.camera2.full"
        android:required="true" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />

    <application
        android:allowBackup="false"
        android:configChanges="locale"
        android:fullBackupContent="false"
        android:icon="@drawable/icono"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/icono"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".CargandoActivity"></activity>
        <activity android:name=".MapaActivity" />

        <receiver android:name=".WidgetOxyMars">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.example.entrega1.ACTUALIZAR_WIDGET" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_oxy_mars_info" />
        </receiver>

        <activity android:name=".WidgetOxyMarsConfigureActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity android:name=".AyudaActivity" />
        <activity android:name=".RankingActivity" />
        <activity android:name=".AjustesActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".ServicioFirebase"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver android:name=".NotificacionProgramada">
            <intent-filter>
                <action android:name="android.media.action.DISPLAY_NOTIFICATION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver android:name=".WidgetActualizar" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDXqUFHC3w5fkirfoJmY_KDSY7ycyCEvYA" />
    </application>

</manifest>